* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  /* Good range for body copy is 14 to 20px: sweet spot is 16px */
  font-size: 16px;
  line-height: 1.5;
  color: #47353a;
}
header {
  padding: 10px 16px;
  overflow: hidden;
  line-height: 38px;
}
header h1 {
  float: left;
  margin-top: 3px;
}

header nav {
  float: right;
}

header nav a {
  color: #47353a;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 16px;
}

/* Hero */

.hero {
  background-image: url(/images/hero.jpg);
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 200px;
  background-position: right center;
}

.hero div {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.hero h2 {
  font-family: 'David Libre';
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero p {
  max-width: 400px;
  margin: 0 auto;
}
